<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodcast.moodchat.dao.ChatDao">
    <select id="selectChatList" parameterType="com.moodcast.moodchat.vo.ChatVo">
        select * from chat_tbl
    </select>
    <insert id="insertChat" parameterType="com.moodcast.moodchat.vo.ChatVo">
        INSERT INTO chat_tbl (
            sender_id,
            receiver_id,
            content
        )
        VALUES (
                   #{senderId},
                   #{receiverId},
                   #{content}
               )
    </insert>
</mapper>