<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moodcast.member.dao.SignupDao">

    <select id="countByEmail">
        select count(*) from members where email = #{email}
    </select>

    <select id="countByPhone">
        select count(*) from members where phone = #{phone}
    </select>

    <select id="countByNickname">
        select count(*) from members where nickname = #{nickname}
    </select>

    <insert id="insertAuthCode">
        insert into auth_codes (
            member_id,
            target_type,
            target_value,
            purpose,
            code_hash,
            expires_at,
            attempt_count
        ) values (
                  #{memberId},
                  #{targetType},
                  #{targetValue},
                  #{purpose},
                  #{codeHash},
                  #{expiresAt},
                  #{attemptCount}
            )
    </insert>

    <select id="findLastAuthCode" resultType="AuthCode">
        select
            auth_code_id,
            code_hash,
            expires_at,
            verified_at,
            used_at,
            attempt_count,
            created_at
        from auth_codes
        where
            target_type = #{targetType}
            and target_value = #{targetValue}
            and purpose = #{purpose}
            and used_at is null
        order by created_at desc
        limit 1
    </select>

    <update id="incrementAttempt">
        update auth_codes
        set attempt_count = attempt_count +1
        where auth_code_id = #{authCodeId}
    </update>

    <update id="updateVerifiedAt">
        update auth_codes
        set verified_at = CONVERT_TZ(NOW(6), '+00:00', '+09:00'),
            attempt_count = 0
        where auth_code_id = #{authCodeId}
    </update>

    <select id="countAuthCodeSend">
        select count(*)
        from auth_codes
        where target_type = #{targetType}
        and target_value = #{targetValue}
        and purpose = #{purpose}
        and created_at >= #{from}
    </select>

    <select id="findActiveTerms" resultType="Terms">
        select
            terms_id,
            terms_type,
            version,
            title,
            content,
            is_required,
            is_active,
            created_at
        from terms
        where is_active = 1
        order by is_required desc, terms_id asc
    </select>

    <select id="findRequiredTerms" resultType="Terms">
        select
            terms_id,
            terms_type,
            version,
            title,
            content,
            is_required,
            is_active,
            created_at
        from terms
        where is_active = 1
          and is_required = 1
        order by terms_id asc
    </select>

    <select id="countVerifiedEmailAuthCode">
        select count(*)
        from auth_codes
        where target_type = 'EMAIL'
        and target_value = #{email}
        and purpose = 'SIGNUP'
        and verified_at is not null
        and used_at is null
        and verified_at >= date_sub(CONVERT_TZ(NOW(6), '+00:00', '+09:00'), interval 10 minute)
    </select>


    <select id="countVerifiedPhoneAuthCode">
        select count(*)
        from auth_codes
        where target_type = 'PHONE'
          and target_value = #{phone}
          and purpose = 'SIGNUP'
          and verified_at is not null
          and used_at is null
          and verified_at >= date_sub(CONVERT_TZ(NOW(6), '+00:00', '+09:00'), interval 10 minute)
    </select>

    <insert id="insertMember" useGeneratedKeys="true" keyProperty="memberId">
        insert into members (
            email,
            password_hash,
            name,
            nickname,
            phone,
            email_verified,
            phone_verified
        ) values (
            #{email},
            #{passwordHash},
            #{name},
            #{nickname},
            #{phone},
            #{emailVerified},
            #{phoneVerified}
        )
    </insert>

    <insert id="insertMemberTermsAgreement">
        insert into member_terms_agreements (
            member_id,
            terms_id,
            agreed,
            agreed_at
        ) values (
            #{memberId},
            #{termsId},
            #{agreed},
            case when #{agreed} = 1 then CONVERT_TZ(NOW(6), '+00:00', '+09:00') else null end
        )
    </insert>

    <update id="updateAuthCodeUsed">
        update auth_codes
        set used_at = CONVERT_TZ(NOW(6), '+00:00', '+09:00')
        where target_type = #{targetType}
          and target_value = #{targetValue}
          and purpose = #{purpose}
          and verified_at is not null
          and used_at is null
          and verified_at >= date_sub(CONVERT_TZ(NOW(6), '+00:00', '+09:00'), interval 10 minute)
    </update>
</mapper>
